body { margin:0; padding:0; }
#map { position:absolute; top:0; bottom:0; width:100%;}
button.follow, button.unfollow {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 80%;
    left: 47%;
    border-radius: 100%;
    border: none;
    color: white;
    font-weight: bold;
    box-shadow: 2px 2px 15px 2px black;
}

button.follow {
    background: green;
}

button.unfollow {
    display: none; 
    background: red;
}

.alert {
    position: absolute;
    display: none;
    width: 20%;
    left: 40%;
    top: 10%;
    text-align: center;
    margin: 0 auto;
    vertical-align: middle;
    height: 5%;
    padding: 1%;
    border-radius: 20px;
}

.alert.waiting {
    background: yellow;
    -webkit-animation: fade 2s infinite;
}

.alert.error {
    background: red;
    color: white;
}

@-webkit-keyframes fade {
    from {
        opacity: 0.8;
    }

    50% {
        opacity: 0.3;
    }

    to {
        opacity: 0.8;
    }
}

